{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-4">Criar Conta</h2>

        {% include "partials/alert.html" %}
        
        <form method="post">
            {% csrf_token %}
            {{ form|crispy}}
            <button type="submit" class="btn btn-primary">Criar Conta</button>
        </form>
        <p class="text-muted mt-3">Já tem conta? <a href="{% url 'login' %}">Entrar</a></p>
    </div>
</div>
{% endblock %}
